Data Programming Final Presentation - Assignment

Indian Prison

Importing Required Packages

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
prison_age_df = pd.read_csv('C:\Assignments\Data Progamming\Final Presentation\Prison Dataset\Age_group.csv')
prison_IPC_df = pd.read_csv('C:\Assignments\Data Progamming\Final Presentation\Prison Dataset\IPC_crime_inmates_convicted.csv')
prison_Edu_df = pd.read_csv('C:\Assignments\Data Progamming\Final Presentation\Prison Dataset\Education.csv')
prison_Recidivism_df = pd.read_csv('C:\Assignments\Data Progamming\Final Presentation\Prison Dataset\Recidivism.csv')
prison_Expenditure_df = pd.read_csv('C:\Assignments\Data Progamming\Final Presentation\Prison Dataset\Other Prison data\Expenditure_on_inmates.csv')
prison_GDP_df = pd.read_csv('C:\Assignments\Data Progamming\Final Presentation\Prison Dataset\Other Prison data\Value_of_goods_produced_by_inmates.csv')

prison_age_df.head()

In [157]:
prison_Edu_df.head()

,state_name,is_state,year,gender,education,convicts,under_trial,detenues,others,Total Prisoners
0,A & N Islands,0,2001,Female,Below Class X,0,0,0,0,0
1,A & N Islands,0,2001,Female,Class X and above but below graduate,2,1,0,0,3
2,A & N Islands,0,2001,Female,Graduate,0,0,0,0,0
3,A & N Islands,0,2001,Female,Holding technical degree/diploma etc,0,0,0,0,0
4,A & N Islands,0,2001,Female,Illiterate,0,0,0,0,0

In [ ]:
prison_age_df['category'].unique()

In [ ]:
prison_age_df['type'].unique()

In [ ]:
prison_age_df['Total_Priosners'] = prison_age_df['age_16_18']+prison_age_df['age_18_30']+prison_age_df['age_30_50']+prison_age_df['age_50_above']
prison_age_df.head()

In [ ]:
Foreign_dist = prison_age_df[prison_age_df['category']=='Foreigners'].groupby(['state_name'],as_index=False,sort=False)['Total_Priosners'].sum().sort_values(['Total_Priosners']).tail(5)
Foreign_dist.set_index('state_name',inplace=True)

Indian_dist = prison_age_df[prison_age_df['category']=='Indians'].groupby(['state_name'],as_index=False,sort=False)['Total_Priosners'].sum().sort_values(['Total_Priosners']).tail(5)
Indian_dist.set_index('state_name',inplace=True)
Indian_dist

In [ ]:
plot_objects = plt.subplots(nrows=1, ncols=2, figsize=(14, 4))
fig, ((ax1, ax2)) = plot_objects

ax1.set_title("Top 5 states with more Foreign Prisoners")
ax2.set_title("Top 5 states with more Indian Prisoners")

Foreign_dist.plot(kind='bar',ax=ax1,color='red',ylabel="Total Prisoners")
Indian_dist.plot(kind='bar',ax=ax2,color='SteelBlue',ylabel="Total Prisoners")

In [ ]:
prison_Edu_df["Total Prisoners"] = prison_Edu_df.iloc[:,[5,6,7,8]].sum(axis=1)
prison_Edu_df.head()

In [ ]:
Edu_dist = prison_Edu_df.groupby(['education'],as_index=False,sort=False)['Total Prisoners'].sum().sort_values(['Total Prisoners'],ascending=False)

In [ ]:
Edu_dist.set_index('education').plot(kind="pie",y='Total Prisoners',figsize=(14,10),autopct='%1.1f%%',title='Inmates Education Level',fontsize='x-large').legend(bbox_to_anchor = (1,1))

In [ ]:
prison_Recidivism_df.head()

In [ ]:
prison_Recidivism_clean_df = prison_Recidivism_df[prison_Recidivism_df["habitual_offenders"]<=prison_Recidivism_df['convicts_admitted']]
prison_Recidivism_clean_df['Recidivism Factor'] = prison_Recidivism_clean_df['habitual_offenders']/prison_Recidivism_clean_df['convicts_admitted']
prison_Recidivism_clean_df.head()

In [ ]:
Recidivism_dist = prison_Recidivism_clean_df.groupby(['year'],as_index=False,sort=False)['Recidivism Factor'].mean().sort_values(['year'])
Recidivism_dist.set_index('year')
Recidivism_dist.plot(kind='line',y='Recidivism Factor',x='year',figsize=(14,5),title='Recidivism trend',ylabel='Recidivism Factor',fontsize='x-large')

In [ ]:
expenditure_dist = prison_Expenditure_df[['Indicator_Name','Data_Value']].set_index('Indicator_Name').groupby(['Indicator_Name']).mean().sort_values(['Data_Value'])
#expenditure_dist[expenditure_dist.iloc[0]=='Total expenditure on inmates']
expenditure_dist.iloc[0:-1]

In [ ]:
expenditure_dist.iloc[0:-1].plot(kind='pie',y='Data_Value',figsize=(14,10),title='Average Expenditure per Annum on Prisoners',autopct='%1.1f%%')

In [ ]:
prison_GDP_df.head(1)

In [ ]:
ax=prison_GDP_df[['YEAR','Gross Value of Sale Proceeds']].set_index('YEAR').groupby(['YEAR']).sum().sort_values('YEAR').plot(ylabel='INR',figsize=(14,5))
prison_Expenditure_df[['TimePeriod','Data_Value']].set_index('TimePeriod').groupby(['TimePeriod']).sum().sort_values('TimePeriod').plot(ax=ax)

In [ ]:
crime_against_women = ['Eve-Teasing','Dowry Deaths','Cruelty By Husband Or Relative Of Husband','Rape','Molestation']
crime_against_women_df = prison_IPC_df[prison_IPC_df['CRIME HEAD'].isin(crime_against_women)]
crime_against_women_df = crime_against_women_df[['YEAR','CRIME HEAD','Grand Total']].groupby(['YEAR','CRIME HEAD'],as_index=False,sort=False).sum(['Grand Total']).pivot(index='YEAR',columns='CRIME HEAD', values='Grand Total')
crime_against_women_df.plot(figsize=(12,6),ylabel='Total Prisoners', title='Trend in Crime against Women')
plot_objects = plt.subplots(nrows=1, ncols=5, figsize=(30, 8))
fig, ((ax1, ax2, ax3, ax4, ax5,)) = plot_objects
ax1.set_title("Trend Prisoners convicted for Rape")
ax2.set_title("Trend Prisoners convicted for Molestation")
ax3.set_title("Trend Prisoners convicted for Eve Teasing")
ax4.set_title("Trend Prisoners convicted for Dowry")
ax5.set_title("Trend Prisoners convicted for Cruelty by Husband / Husband Relatives")
crime_against_women_df.plot(y='Rape',color='violet',ax=ax1,ylabel='Total Prisoners')
crime_against_women_df.plot(y='Molestation',color='red',ax=ax2 ,ylabel='Total Prisoners')
crime_against_women_df.plot(y='Eve-Teasing',color='green',ax=ax3 ,ylabel='Total Prisoners')
crime_against_women_df.plot(y='Dowry Deaths',color='orange',ax=ax4 ,ylabel='Total Prisoners')
crime_against_women_df.plot(y='Cruelty By Husband Or Relative Of Husband',color='steelblue',ax=ax5 ,ylabel='Total Prisoners')

In [ ]:
crime_against_women_df2 = prison_IPC_df[prison_IPC_df['CRIME HEAD'].isin(crime_against_women)]
crime_against_women_df2 = crime_against_women_df2[['STATE/UT','CRIME HEAD','Grand Total']].groupby(['STATE/UT','CRIME HEAD'],as_index=False,sort=False).sum(['Grand Total'])


crime_against_women_df2[crime_against_women_df2['CRIME HEAD']=='Rape'].sort_values(['Grand Total']).tail(10).plot(y='Grand Total',x='STATE/UT',kind='barh',title='Top 10 states with prisoners convicted for Rape',ylabel='Total Prisoners').legend(['Total Prisoners Convicted'])

In [ ]:
crime_against_women_df2[crime_against_women_df2['CRIME HEAD']=='Molestation'].sort_values(['Grand Total']).tail(10).plot(y='Grand Total',x='STATE/UT',kind='barh',title='Top 10 states with prisoners convicted for Molestation',ylabel='Total Prisoners').legend(['Total Prisoners Convicted'])

In [ ]:
crime_against_women_df2[crime_against_women_df2['CRIME HEAD']=='Eve-Teasing'].sort_values(['Grand Total']).tail(10).plot(y='Grand Total',x='STATE/UT',kind='barh',title='Top 10 states with prisoners convicted for Eve Teasing',ylabel='Total Prisoners').legend(['Total Prisoners Convicted'])

In [ ]:
crime_against_women_df2[crime_against_women_df2['CRIME HEAD']=='Dowry Deaths'].sort_values(['Grand Total']).tail(10).plot(y='Grand Total',x='STATE/UT',kind='barh',title='Top 10 states with prisoners convicted for Dowry Deaths',ylabel='Total Prisoners').legend(['Total Prisoners Convicted'])

In [ ]:
crime_against_women_df2[crime_against_women_df2['CRIME HEAD']=='Cruelty By Husband Or Relative Of Husband'].sort_values(['Grand Total']).tail(10).plot(y='Grand Total',x='STATE/UT',kind='barh',title='Top 10 states with prisoners convicted for Cruelty By Husband Or Relative Of Husband',ylabel='Total Prisoners').legend(['Total Prisoners Convicted'])